@import "params";

html, body, #app, .page {
  height: 100%;
}

html, body, #app, .page, pre {
  margin: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFFFFF;
}

pre {
  white-space: pre-line;
  word-wrap: break-word;
}

.page {
  display: flex;
  flex-direction: column;
  transition: all .45s cubic-bezier(.23, 1, .32, 1);
}

.shadow {
  box-shadow: 0 1px 6px rgba(0, 0, 0, .117647), 0 1px 4px rgba(0, 0, 0, .117647);
}


// muse-ui ------------------------------------------------------------------------

.mu-appbar {
  width: 100%;
}


//调整appbar-title 居中
.mu-appbar {
  justify-content: space-between;
  .mu-appbar-title {
    position: absolute;
    left: 40px;
    right: 40px;
  }
  & > .left, & > .right {
    z-index: 1;
  }
}

.mu-list {
  padding: 0 ;
}