$primaryColor: #2196f3;

$fontColor: #0d1733;
$fontColor-gray: #b6b9c2;

$bg-gray: #fafafa;
$bg-dark: #0d1733;

@mixin line-clamp($lines:3) {
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

@mixin scrollview() {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

//px2rem 方法
@function px2rem($px) {
  @return $px*320/$designWidth/20 + rem;
}

$designWidth: 375;
//px2rem 方法